{% set background_image = page.header.hero_image ?
    'background-image: url(' ~ page.media.images[page.header.hero_image].url ~')' :
    ''
%}

{% for media in page.header.media_order|split(',') %}
    {% if '.pdf' in media %}

    {% endif %}
{% endfor %}
<section class="showcase"{% if background_image is not empty %} style="{{ background_image }}" {% endif %}>
    <article class="card">
        <div class="card--heading">
            <h2>{{ page.title }}</h2>
        </div>
        <div class="card--body">
            {{ page.content | raw }}
        </div>
        <footer class="card--footer">
            <a class="button" href="#whoami">
                Informations
            </a>
            <a class="button" href="./dist/files/CV_Julien_Maxant.pdf">
                Télécharger mon CV
            </a>
        </footer>
    </article>
</section>
