{% set theme_config,
    body_classes = attribute(config.themes, config.system.pages.theme),
    page.header.body_classes ? page.header.body_classes ~ ' ' ~ page.slug : page.slug ~ ' ' ~ page.template
%}

<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: theme_config.default_lang }}">
<head>
    {% block head %}
        {% include 'partials/head.html.twig' %}
    {% endblock %}
</head>


<body class="{{ body_classes }}">

{{ dump(page.template) }}
{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

<main>
    {% block content %}{% endblock %}
</main>

{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') | raw  }}
{% endblock %}

</body>
</html>
