<footer class="page-footer">
    <p>2021 - Julien Maxant</p>
    <ul class="menu">
        <li><a class="icon-github" href="#"></a></li>
        <li><a class="icon-linkedin" href="#"></a></li>
    </ul>
</footer>