<header class="page-header">
    <nav>
        <div id="logo">
            {% if page.home %}
                <h1>Julien Maxant</h1>
            {% else %}
                Julien Maxant
            {% endif %}
        </div>
        <ul class="menu">
            {% for page in pages.children.visible %}
                <li {% if page.active or page.activeChild %}class="is-active"{% endif %}>
                    <a href="{{ page.url }}">{{ page.menu }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>
