:root {
	// Colors
	--default-color: #000;
	--white: #fff;
	--silver: #c2c2c2;
	--alabaster: #f9f9f9; // Background default color
	--deluge: #24098b; // link color
	--blue-gem: #300cc0; // Links hover
	--martinique: #3a2f4c; // link active color
	--background-color: var(--alabaster);

	// Fonts
	--iconfont: 'icomoon' !important;
	--font-family-base: 'Ubuntu', arial, sans-serif;
	--font-family-bold: 'UbuntuBold', arial, sans-serif;
	--base-font-size: 16;

	// paddings
	--padding-pagebounds: 50px 100px;
	--padding-lateral: 0 100px;

	// Various
	--box-shadow: 0 2px 4px 0 rgba(154, 154, 154, 0.5);
	--box-shadow-revert: 0 -2px 4px 0 rgba(154, 154, 154, 0.5);
	--transition: 0.2s ease-in-out;

	// z-indices
	--overlay: 1;
	--default-index: 10;
}
