%text {
	font-size: torem(16);
	line-height: 26px;
}

p {
	@extend %text;
}

h1,
h2,
h3 {
	font-family: var(--font-family-bold);
}

h1 {
	font-size: torem(30);
	line-height: 40px;
}

h2 {
	font-size: torem(25);
	line-height: 35px;
}

h3 {
	font-size: torem(20);
	line-height: 30px;
}

.text {
	padding-bottom: 15px;
}

.text--centered {
	@extend .text;

	text-align: center;
}

.notice {
	line-height: initial;
	padding: 0 12px 20px;
	font-size: torem(12);
}
