@mixin quantity-query( $number, $comparison: 'equal' ) {
	$nth: '';

	@if index(('greater' 'more' '>'), $comparison) {
		$nth: 'n + #{$number}';
	}

	@else if index(('less' 'fewer' '<'), $comparison) {
		$nth: '-n + #{$number}';
	}

	@else if index(('equal' 'same' '='), $comparison) {
		$nth: $number;
	}

	@else {
		@warn "Sorry, that’s an invalid $comparison value.";
	}

	&:nth-last-child(#{$nth}):first-child {
		&,
		& ~ * {
			@content;
		}
	}
}

@function torem($value) {
	$remValue: ($value / 16) + rem;

	@return $remValue;
}

%container {
	max-width: 1200px;
	margin: auto;
}
