.card {
	width: 550px;
	padding: 50px;
	z-index: var(--default-index);
	box-shadow: var(--box-shadow);
	background: var(--white);

	&--heading {
		text-align: center;
		border-bottom: 1px solid var(--silver);
		font-size: torem(25);
		line-height: 35px;
		padding: 0 5px 10px;
		margin: auto auto 20px;
	}

	&--body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid var(--silver);

		ul {
			columns: 195px 2;

			li {
				font-size: torem(18);
				line-height: 28px;
			}
		}
	}

	&--footer {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: auto;

		a {
			text-align: center;
			width: max-content;
		}
	}
}
