.page-footer {
	background-color: var(--white);
	display: flex;
	justify-content: space-between;
	padding: var(--padding-pagebounds);
	box-shadow: var(--box-shadow-revert);

	ul {
		li {
			a {
				font-size: torem(25);
				transition: color var(--transition);

				&:hover {
					color: var(--martinique);
				}
			}

			+ li {
				padding-left: 20px;
			}
		}
	}
}
