.page-header {
	padding: var(--padding-lateral);
	box-shadow: var(--box-shadow);
	background-color: var(--background-color);

	nav {
		@extend %container;

		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 25px 0 25px;

		ul {
			align-self: center;

			li + li {
				padding-left: 20px;
			}

			ul {
				height: 0;
				width: 0;
				overflow: hidden;
			}
		}
	}
}
