a {
	text-decoration: none;
	position: relative;
	font-weight: bold;
	border-bottom: 2px solid var(--deluge);
	color: var(--deluge);
	transition: all var(--transition);

	&[class*="icon"] { border-bottom: none; }

	&[href*=".pdf"] {
		@extend .icon-file-pdf;

		&:before {
			font-family: var(--iconfont);
			font-weight: normal;
			font-size: torem(18);
			padding-right: 5px;
		}
	}

	&:visited {
		color: var(--martinique);
		border-bottom-color: var(--martinique);
	}

	&:hover {
		border-bottom-color: var(--blue-gem);
		color: var(--blue-gem);
	}

	&:focus,
	&:focus-visible {
		border: 1px dashed var(--deluge);
		border-bottom-width: 2px;
	}

	&.button {
		padding: 10px;
		display: inline-block;
		border: 2px solid var(--deluge);
		transition: all var(--transition);

		&:visited {
			border-color: var(--martinique);
		}

		&:hover {
			background-color: var(--deluge);
			border-color: var(--deluge);
			color: var(--white);

			&:after {
				height: 100%;
			}
		}

		&__white {
			border-color: var(--white);
			color: var(--white);

			&:hover {
				border-color: var(--white);
				color: var(--default-color);
				background-color: var(--white);
			}

			&:visited {
				border-color: var(--white);
			}
		}
	}
}
