.showcase {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0;
	background-repeat: repeat;
	min-height: 600px;
	box-shadow: var(--box-shadow) inset;
}
